<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello ejs</h1>

    <form action="/monster" method="GET">
        <button type="submit">
            mv
        </button>
    </form>

    
    <footer>
        <script src="js/hellojs.js"></script>
    </footer>
</body>
</html>