<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="body-index">
    <h1>hello ejs</h1>

    <form action="/monster_tree" method="GET">
        <button type="submit">
            mv
        </button>
    </form>

    <div class="rainny_monster rainny_monster-pig" id="rain1"><img src="/img/rain_img/리본돼지.png" alt=""></div>
    <div class="rainny_monster rainny_monster-pig" id="rain2"><img src="/img/rain_img/리본돼지.png" alt=""></div>
    <div class="rainny_monster rainny_monster-pig" id="rain3"><img src="/img/rain_img/리본돼지.png" alt=""></div>
    <div class="rainny_monster rainny_monster-pig" id="rain4"><img src="/img/rain_img/리본돼지.png" alt=""></div>

    <div class="rainny_monster rainny_monster-slime" id="rain5"><img src="/img/rain_img/슬라임.png" alt=""></div>
    <div class="rainny_monster rainny_monster-slime" id="rain6"><img src="/img/rain_img/슬라임.png" alt=""></div>
    <div class="rainny_monster rainny_monster-slime" id="rain7"><img src="/img/rain_img/슬라임.png" alt=""></div>
    <div class="rainny_monster rainny_monster-slmie" id="rain8"><img src="/img/rain_img/슬라임.png" alt=""></div>

    <div class="rainny_monster rainny_monster-mushrum" id="rain9"><img src="/img/rain_img/주황버섯.png" alt=""></div>
    <div class="rainny_monster rainny_monster-mushrum" id="rain10"><img src="/img/rain_img/주황버섯.png" alt=""></div>
    <div class="rainny_monster rainny_monster-mushrum" id="rain11"><img src="/img/rain_img/주황버섯.png" alt=""></div>
    <div class="rainny_monster rainny_monster-mushrum" id="rain12"><img src="/img/rain_img/주황버섯.png" alt=""></div>

    <div class="rainny_monster rainny_monster-snail" id="rain13"><img src="/img/rain_img/파란달팽이.png" alt=""></div>
    <div class="rainny_monster rainny_monster-snail" id="rain14"><img src="/img/rain_img/파란달팽이.png" alt=""></div>
    <div class="rainny_monster rainny_monster-snail" id="rain15"><img src="/img/rain_img/파란달팽이.png" alt=""></div>
    <div class="rainny_monster rainny_monster-snail" id="rain16"><img src="/img/rain_img/파란달팽이.png" alt=""></div>

    
    <footer>
        <script src="js/rain.js"></script>
    </footer>
</body>
</html>