<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>농장 정보 입력</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="body-insert">
    <header>
        <div class="background-monster_rotate">
            <div class="rainny_monster rainny_monster-pig" id="rain1"><img src="/img/rain_img/리본돼지.png" alt=""></div>
            <div class="rainny_monster rainny_monster-pig" id="rain2"><img src="/img/rain_img/리본돼지.png" alt=""></div>
            <div class="rainny_monster rainny_monster-pig" id="rain3"><img src="/img/rain_img/리본돼지.png" alt=""></div>
            <div class="rainny_monster rainny_monster-pig" id="rain4"><img src="/img/rain_img/리본돼지.png" alt=""></div>

            <div class="rainny_monster rainny_monster-slime" id="rain5"><img src="/img/rain_img/슬라임.png" alt=""></div>
            <div class="rainny_monster rainny_monster-slime" id="rain6"><img src="/img/rain_img/슬라임.png" alt=""></div>
            <div class="rainny_monster rainny_monster-slime" id="rain7"><img src="/img/rain_img/슬라임.png" alt=""></div>
            <div class="rainny_monster rainny_monster-slmie" id="rain8"><img src="/img/rain_img/슬라임.png" alt=""></div>

            <div class="rainny_monster rainny_monster-mushrum" id="rain9"><img src="/img/rain_img/주황버섯.png" alt=""></div>
            <div class="rainny_monster rainny_monster-mushrum" id="rain10"><img src="/img/rain_img/주황버섯.png" alt=""></div>
            <div class="rainny_monster rainny_monster-mushrum" id="rain11"><img src="/img/rain_img/주황버섯.png" alt=""></div>
            <div class="rainny_monster rainny_monster-mushrum" id="rain12"><img src="/img/rain_img/주황버섯.png" alt=""></div>

            <div class="rainny_monster rainny_monster-snail" id="rain13"><img src="/img/rain_img/파란달팽이.png" alt=""></div>
            <div class="rainny_monster rainny_monster-snail" id="rain14"><img src="/img/rain_img/파란달팽이.png" alt=""></div>
            <div class="rainny_monster rainny_monster-snail" id="rain15"><img src="/img/rain_img/파란달팽이.png" alt=""></div>
            <div class="rainny_monster rainny_monster-snail" id="rain16"><img src="/img/rain_img/파란달팽이.png" alt=""></div>
        </div>

        <div class="move_back">
            <form action="/index" method="GET">
                <button type="submit" class="move_back-btn">
                    &lt;
                </button>
            </form>
        </div>

    </header>
    <main class="main-insert">
        <div class="insert">
            <form action="/insert_log_insert" method="POST">
                <div class="insert-header">
                    <div class="insert-header-img">
                        <img src="/img/monster_img/<%=list[0].name %>.png" alt="">
                    </div>
                    <div class="insert-header-text">
                        <%=list[0].name %>
                    </div>
                </div>
                <div class="insert-values">
                    <input type="text" placeholder="농장주" name="farm_name" class="insert-farm_name" 
                            maxlength="12" required>
                    <input type="date" name="input_date" class="input_date" required>
                    <input type="number" placeholder="중복수" name="population" 
                            class="insert_population" min="1" max="28" required>
                    
                </div>
                <div class="insert-buttons">
                    <button type="submit" class="insert-btn">
                        입력 !
                    </button>
                </div>
                <input type="text" name="monster_name" class="hide" value="<%=list[0].name %>">
            </form>
        </div>

    </main>
    <footer>
        
    </footer>
</body>
</html>