
.body-monster_tree {
    background-color: peru;
}

.monster_tree {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
    padding: 50px 0px;

}

.monster_tree-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}