@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

.monster_card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 30px;
    height: 200px;
    width: 200px;
}
.monster_card-btn_half {
    border-radius: 15px;
    height: 100px;
    width: 100px;
}
.monster_card-btn_halfq {
    border-radius: 10px;
    height: 50px;
    width: 50px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;

}

.container_half {
    height: 100px;
    width: 100px;
}

.container_halfq {
    height: 75px;
    width: 75px;
}

.monster_card {
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 30px;   
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.monster_card_half {
    width: 75px;
    height: 75px;
    border-radius: 15px;
}
.monster_card_halfq {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.monster_card-img {
    border-radius: 30px;
}

.monster_card-img_half {
    width: 75px;
    height: 75px;
    border-radius: 15px;
}
.monster_card-img_halfq {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.monster_card-grade {
    position: absolute;
    top: 5%;
    right: 10%;

    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    color: yellow;
    text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
}

.monster_card-grade_half {
    font-size: 15px;
}
.monster_card-grade_halfq {
    font-size: 10px;
}

.monster_card-name {
    position: absolute;
    bottom: 5%;
    text-align: center;

    font-family: 'East Sea Dokdo', cursive;
    font-size: 25px;
    color: black;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.monster_card-name_half {
    font-size: 13px;
}
.monster_card-name_halfq {
    font-size: 13px;
}